<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "无敌记事本", root_url, :class => "brand" %>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <%= link_to edit_user_registration_path do %>
              <span class="label label-info">帐户设置</span>
            <% end %>
            <%= link_to destroy_user_session_path, :method=>'delete' do %>
              <span class="label label-important">退出</span>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <span class="label label-success">登录</span>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
